<section class="row justify-content-center mt-4">
  <div class="col-lg-4 d-grid gap-4">
    <h1>Minhas Categorias</h1>

    <div>
      <button routerLink="/categoria/criar" class="btn btn-lg btn-outline-primary mb-4 rounded-4 ">
        <!-- routerLink="/notas/criar" -> quando clicar nesse botao ele redirecionará para /notas/criar -->
        Criar Categoria
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>

    <div class="card border-dark">
      <div class="card-body">
        <table class="table table-striped mt-5 bg-secondary">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Título</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of categorias; index as i">
              <th scope="row">{{ categoria.id }}</th>
              <td>{{ categoria.titulo }}</td>
              <td>
                <div class="d-flex gap-1 justify-content-end bg-transparent">
                  <button
                    class="btn btn-outline-info"
                    routerLink="/categoria/editar/{{categoria.id}}"
                    aria-label="Editar"
                    ngbTooltip="Editar"
                    placement="bottom">

                    <i class="bi bi-pen"></i>
                    
                  </button>

                  <button
                    class="btn btn-outline-danger"
                    routerLink="/categoria/excluir/{{categoria.id}}"
                    aria-label="Excluir"
                    ngbTooltip="Excluir"
                    placement="bottom">

                    <i class="bi bi-trash"></i>

                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
